# Use the front controller as index file. It serves as a fallback solution when
# every other rewrite/redirect fails (e.g. in an aliased environment without
# mod_rewrite). Additionally, this reduces the matching process for the
# start page (path "/") because it will not require the rewrite engine to be
# triggered.

DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure Authorization headers are passed to PHP
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect all requests to index.php except existing files/directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect
        # of the start page to the front controller explicitly so that the
        # website at least works.
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>
